<div style="position: relative;">
    <img src="logo.png" style="position: absolute; top: -15px; left: -15px;" width="110" height="100" />
</div>
<br>

## DE WEEK 6: PANDAS &#128060;

The dataset for this session can be downloaded from [here](https://drive.google.com/file/d/1fG6gZ40u3NVd35Dwy5c4EmUe7ybfcJka/view?usp=sharing)

### Introduction to Pandas

**Pandas** is a powerful open-source data manipulation and analysis library for Python. It provides easy-to-use data structures and functions for various data manipulation tasks, making it a fundamental tool for data engineers, data scientists, and analysts.

Pandas introduces two main data structures: **Series** and **DataFrame**

- **Pandas Series:** A one-dimensional array-like object containing a sequence of values and an associated array of data labels called an index. It can hold any data type.


- **Pandas DataFrame:** A two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table.


### Key Features and Advantages

**Flexible Data Handling:** Pandas simplifies data manipulation tasks such as indexing, filtering, merging, and reshaping, allowing users to perform complex operations with minimal code.


**Rich Functionality:** It offers a wide range of functions and methods for data cleaning, transformation, grouping, aggregation, and statistical analysis.


**Time Series and Categorical Data Support:** Pandas provides specialized data structures and functions for working with time series data and categorical data, making it versatile for various analytical use cases.

In [1]:
# installing and importing pandas
# if not installed, install pandas using pip

import pandas as pd

### Pandas Series

In [1]:
# Creating a Series from a list

### Pandas Dataframes

You can create a DataFrame from dictionaries, lists of dictionaries, or by reading data from external sources such as CSV files.

Dataframes are created using the keyword ```pd.DataFrame()```

In [2]:
# Creating a DataFrame from a dictionary

### Reading in data as Pandas DataFrame

Reading data into a Pandas DataFrame is a fundamental operation in working with data in python. Pandas provides various functions to read data from different file formats such as CSV, Excel, SQL databases, JSON, and more. 

The general syntax is ```pd.read_fileformat()``` example 

- ```pd.read_csv()```
- ```pd.read_sql()```
- ```pd.read_excel()```

In [3]:
# Reading csv file

### Exploring and Transforming data with Pandas

#### 1. Viewing data

In [4]:
# head() and tail() to view the first or 5 rows of the dataframe

In [5]:
## sample(n) to view a random sample of the data

#### 2. Basic information

In [6]:
## use info() and describe() to get basic info about your data

In [7]:
# describe gives summary statistics on all numeric columns in the dataframe

#### 3. selecting data

you can use ```df['column_name']``` to select a single column of the dataframe


you can use ```df['column_name', 'column_name']``` to select a multiple columns of the dataframe

In [8]:
# Select only one column from the dataframe

In [ ]:
# show the unique categories. 


# How many orders were made from each category?

In [9]:
## Select two or more columns from the dataframe

### selecting data row-wise


you can use ```iloc[]``` and ```loc[]``` to select data by rows

```df.iloc[]``` selects the rows based on integer (default) indexes

```df.loc[]``` selects the rows based on custom indexes

the syntax is ```df.iloc[row_slice, column_slice]```

In [10]:
# select only the 5th row

In [11]:
# select 1st to 5th row and the first 3 columns

### 3. Filtering data

You can filter rows based on a condition using the syntax ```df[condition]```

You can have single conditons or multiple conditons joined using logical operators 

```df[condtion1 & condition2]``` 

```df[condition1 | condition2]``` *** the pipe means element-wise OR

In [12]:
# filter for orders in Technology category

In [14]:
## get all unique sub categories in the dataframe

## get the count of unique sub categories

In [15]:
## filter for only Orders in technology category and Phones sub-category

### 4. Grouping and aggregations in Pandas

The ```groupby()``` method in pandas is used to split the DataFrame into groups based on some criteria. It is often followed by an aggregation step to perform computations within each group.

In [16]:
## find the mean sales for each category

In [17]:
# find the mean sales for each category and subcategory

In [18]:
# you can aggregate by multiple aggregate functions

## Data Cleaning

### 5. Handling Missing Values

Handling missing values is an important step in data processing/transformation. Pandas provides several methods for handling missing values, these includes:

- dropping missing values ```dropna()```


- simple imputation (filling missing values with a constant) ```fillna()```

In [ ]:
## Drop missing values in the dataframe

In [ ]:
## Fill the missing values with the mean of each column

### Dropping duplicates

You can use the ```drop_duplicates()``` to drop duplicate rows in a dataframe


You can use the duplicated method ```df.duplicated()``` to check if there are duplicates in the dataframe first, before dropping the duplicates

In [ ]:
## check for duplicates in the dataframe

In [ ]:
# drop duplicates in a dataframe

### 6. Adding or Droping Columns

You can add new columns by creating the column and assigning values to the column. The values can be a constant or a calculation. 

```df['new_column'] = 7```

```df['new_column'] =  expression```

You can drop a single column or multiple columns from a DataFrame using the ```drop()``` method with the axis parameter set to 1.

```df.drop('column', axis=1)```

```df.drop(['column1', 'column2'], axis=1)```




You can drop a single rows or multiple rows from a DataFrame using the ```drop()``` method with the axis parameter set to 0 (or ignored as this is the default value)

```df.drop(row_index, axis=0)```

**Tip:** Use the ```inplace=True``` parameter to save the changes to the dataframe to the original dataframe

In [19]:
# Adding a single column with a constant value

In [162]:
## Add a single column with a numerical calculation for Unit Price

In [20]:
# drop a single column

In [ ]:
# drop multiple columns from the dataframe

In [21]:
# drop rows based on a condition

### 7. Cleaning Column names

You can perform cleaning operations on column names such as converting to lower case, removing white spaces, replacing white spaces with underscores, etc

```df.columns``` is used to access a list of all columns in the dataframe. string methods can then be called on this list to clean them.

In [22]:
## convert the column names to lower case

In [23]:
# replace white spaces in the column names and replace then with underscores

### 8. Applying Transformations

You can apply functions to a dataframe or specific rows or columns using the ```apply()``` function with axis parameter set to 1 for columns and 0 for rows

In [24]:
## subtract 50 from all prices

### 9. Renaming Columns

You can rename columns using the ```rename()``` method and passing the column parameter a dictionary or list of dictionary mapping the old names to the new names.

```df.rename(columns = {'old_name':'new_name'})```

In [ ]:
# Rename a column in the dataframe

In [ ]:
# Rename multiple columns in the dataframe

### 10. Converting datatypes in Pandas

You can use the ```astype()``` method to convert columns into compatible datatypes


**datetime** is a special pandas data type. You can convert a column to date using ```pd.to_datetime()``` method

In [200]:
## convert the Sales column to string

In [25]:
## Convert the order date and ship date to a datetime

In [26]:
## Create a column that holds the month of the order

### 11. Exporting Data to File using pandas

Exporting data in pandas is straightforward and can be done using various file formats such as CSV, Excel, JSON, SQL, and more. 

You can use the ```df.to_csv(filename)``` method to export data to csv

```df.to_xlsx()``` to export to excel format


**Tip:** use ```index=False``` to exclude row index/indices when exporting the data

In [ ]:
# export the cleaned and transformed data to csv

In [ ]:
# export the cleaned and transformed data to excel format

### 12. Joining Data

Joining and merging are methods used to combine data from different DataFrames based on one or more keys or indices. 

There are several types of joins available in pandas, including inner join, outer join, left join, and right join. 

You can join data using ```pd.merge(df1, df2, on='key_column', how='join_type')```


You can also add rows of a dataframe to another dataframe (unions) using ```append```

In [ ]:
## perform an inner join on 2 dataframe

In [ ]:
## perform a left join on 2 dataframes

In [ ]:
# perform a union/append on 2 dataframes